<h3>Vous l'avez fait ! Vous êtes inscrit sur Werewolves !</h3>

<div class="container">
    Salut {{ user.pseudo }} !
    <br><br>

    Vous êtes désormais inscrit sur notre plateforme et nous vous en remercions. <br><br>

    Si vous êtes nouveau, nous vous conseillons d'aller voir un court tutoriel pour vous familiariser avec le jeu.<br>
    Il est disponible en cliquant <a href="">ici</a>.<br><br>

    Bon jeu parmis nous !<br><br>

    Juan, Développeur de Werewolves
</div>