<div class="alert alert-info alert-dismissible fade show" role="alert">
     <h4 class="alert-heading">Aide aux nouveaux venus</h4>
     <hr>
     <p>Si vous êtes nouveau, nous vous conseillons d'aller voir un court tutoriel pour vous familiariser avec le jeu.
          <br>
          Il est accessible en cliquant <a href="#" class="alert-link">ici</a>.</p>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
     </button>
</div>
